@model Shopiphone.Models.MobilePhones
@{
    ViewBag.Title = "OrderNowwithoutusingcart";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">

            <div class="col-md-5">
                <p>Shipment Charges = 100 </p>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => TempData["tota"], new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" style="background-color: #6B8E23; color:#FFFFFF; padding-left: 20px;padding-right: 20px" value="Order Now" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Home Page", "Index")
</div>

